.header .avatar img {
    width: 78px;
    border-radius: 0%;
}

::selection {
    background: #A8A6A6;
}

nav a {
  color:#076873;
}


.container {
   margin-left: 20%;
}
/* Media Queries */
@media (max-width: 1080px) {
  .container {
    margin-left: auto;
  }
}